:root {
    --color-background: #1d2d3c;
    --color-background-card: #10202f;
}

body {
    background-color: var(--color-background);
}


.debug {
    border: 1px, solid, red;
}

img {
    width: 100%;
    height: 100%;

}

.card {
    background-color: var(--color-background-card);
}

.img-container {

    width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
}

.logo-container {
    width: 75px;
    height: 50px;
    aspect-ratio: 1/1;
}